body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}

.container {
  padding: 20px;
}

button {
  background: yellow;
  color: black;
  padding: 12px 20px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 10px;
}

input {
  margin-top: 10px;
}
